<div id="team">
	<h1>{{global.index.sections[1].title}}</h1>
	<ul class="team">
	{% for item in global.index.sections[1].team %}
		<li>
			<div class="avatar "><img src="{{item.profilePic}}" alt="{{item.name}}"></div>
			<h3>{{item.name}}</h3>
			<p>{{item.position}}</p>
		</li>
	{% endfor %}
	</ul>
</div>