<div id="team">
	<div class="content">
		<h1 class="animated" data-animated="flip">{{global.index.sections[1].title}}</h1>
		<section class="team">
		{% for item in global.index.sections[1].team %}
			<article class="item animated" data-animated="pulse">
				<div class="close">x</div>
				<span class="avatar "><img src="{{item.imageUrl}}" alt="{{item.name}}"></span>
				<h3>{{item.name}}</h3>
				<p>{{item.role}}</p>
				<div class="info" >
					<h1>{{item.name}}</h1>
					<p>{{item.role}}</p>
					<p>{{item.about}}</p>

				</div>
			</article>
		{% endfor %}
		</section>
	</div>
</div>